.underline{
    text-decoration: underline;
    font-size: larger;
}

.bold{
    font-weight: bold;
}

.body{
    background-color: rgb(157, 194, 230);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 200px;
    z-index: 2;
    border-bottom: solid 1px #555555;
    position:absolute;
}

.leftmenu{
    top: 205px;
    left: 5px;
    width: 100px;
    padding-top: 10px;
    height:85cm;
    border-right: solid 1px black;
    text-align: center;
    position: absolute;
}

.mainbody{
    top: 205px;
    left: 110px;
    right: 5px;
    bottom: auto;
    position: absolute;
}

.footer{
    right: 5px;
    left: 5px;
    bottom: 10px;
    height: 50px;
    font-size: 8px;
    color: #de1414;
    text-align: center;
    position: fixed;
}

.headertitle{
    position: relative;
    text-align: center;
    top:-20px;
    font-size:2cm;
    font-weight: bold;
    font-stretch: expanded;
    color: rgb(10, 10, 137);
}

.centertext{
    text-align: center;
}